section {
    display: none;
    background-color: rgb(208, 236, 214);
    width: 200px;
    border-radius: 30% 10%;
    place-items: center;
    margin: 0 auto;
    padding:10% 4%;
}

.visible{
    display: block;
}

body{
    background-image: url(image/explosion-poligonal-verdes-abstractos_1280x720_xtrafondos.com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1% 40%;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

#bInicio {
    background-color: rgb(4, 255, 79);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-color: rgb(20, 236, 34);
    border-radius: 30%;
    width: 70px;
}

#titulo2{
    color: rgb(5, 5, 114);
}